<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
@model TrainCarriagesViewModel
@{
    ViewData["Title"] = "Carriage Okie";
}
<h2>Let's have some fun eh?</h2>
<p>Your train & carriage please...</p>
<div class="is-preload">
    <table style="border-collapse: separate; border-spacing: 0.5em;">
        <tr>
            <td>Train To</td>
            <td>
                @Html.DropDownListFor(m => m.Train, new SelectList(Model.Trains, "Value", "Text"),
                    htmlAttributes: new {@class = "form-control", id = "train"})</td>
        </tr>
        <tr>
            <td>Carriage</td>
            <td>
                @Html.DropDownListFor(m => m.Carriage, new SelectList(Model.Carriages, "Value", "Text"),
                    htmlAttributes: new {@class = "form-control", id = "carriage"})
            </td>
        </tr>
    </table>
</div>
<br/>
<p>And the song you'd like to hear or belt out...</p>
<div class="panel-group wrapper" id="accordion" role="tablist" aria-multiselectable="true">
    @for (int i = 0; i < Model.GenreSongsViewModels.Count; i++)
    {
        var id = "collapse" + (i + 1);
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading@(i + 1)">
                <h4 class="panel-title">
                    <a class="collapsed links" role="button" data-toggle="collapse" data-parent="#accordion" href="#@(id)" aria-expanded="false"
                       aria-controls="@(id)">
                        @Model.GenreSongsViewModels[i].Genre
                    </a>
                </h4>
            </div>
            <div id="@(id)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@(i)" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <ul class="list-group">
                        @foreach (var song in Model.GenreSongsViewModels[i].Songs)
                        {
                            <li class="list-group-item">
                                <a href="#" class="links">@song</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
<script type="text/javascript">
   

        $(function() {
            setLinks();
            $('.form-control').bind('change',
                function() {
                    setLinks();
                });
        });

        function setLinks() {
            $('.list-group-item a').each(function() {
                var item = this;
                item.href = '/lyrics/' + $('#train').val() + '/' + $('#carriage').val() + '/' + item.innerText;
            });
        }
</script>
}